
<td class="dbname">
    {{db.dbname}}
</td>
<td class="query-count">
  <span class="{{countClassName}}">
      {{queries.length}}
  </span>
</td>
{{#each topFiveQueries key="@index" as |query|}}
    {{dbmon-query query=query class=(concat "Query" query.className)}}
{{/each}}