{{#if waiting}}
    <i class="icon-lock"></i>
{{/if}}
{{#if vacuum}}
    <i class="icon-trash"></i>
{{/if}}
{{#if idle}}
    <i class="icon-time"></i>
{{/if}}
{{#if content.elapsed}}
    {{formatElapsed (get content 'elapsed')}}
{{/if}}
<div class="popover left">
    <div class="popover-content">
        {{content.query}}
    </div>
    <div class="arrow"></div>
</div>
